.title {
  position: relative;
  display: block;
  background-image: linear-gradient(155deg, #8dc0ff -6%, #206396 135%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 700;
  font-size: 1rem;
  color: #fff;
}

.title::after {
  content: attr(data-text);
  background: none;
  text-shadow: 1px 1px 3px rgba(33, 61, 100, 0.28), -3px -2px 4px #ffffff;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
}
