.point {
  position: absolute;
  border-radius: 5px;
  height: 0.5rem;
  width: 0.5rem;
  display: inline-block;
}

.m1 {
  left: 2.5%;
  top: 10%;
  background: orange;
}

.m2 {
  left: 5%;
  top: 20%;
  background: green;
}

.inner {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
